.App {
  background-color: #f9f9f9;
  height: '100%';
  padding: 20px;
}

.mainContainer{
  height: 100vh;
  width: 100%
}

.tmpClass{
    margin : 0 auto;
    border: 1px solid #f9f9f9;
    background-color: white;
    border-radius: 5%;
    padding-left: 15px;
    padding-right: 20px;
    padding-bottom: 10px;
    height: 450px;
}

.barChartClass{
  padding-left: 0;
}
